#box {
	background:#f2f2f2;
  	text-align:left;
  	width:280px;
  	padding:10px 10px 10px 10px;
  	border:none;
  	overflow:hidden;
}
a#al_link {
  	
}
#al_link span {
	
}
#wrap {

}

.kolmosputkiblogit .juttulista {
	list-style:none;
	font-weight:normal;
	margin:0;
}
.kolmosputkiblogit .juttulista li {
	display:inline;
	
	
}
.kolmosputkiblogit .juttulista a {
	margin:0 0 3px 0;
	padding:0 0 0 10px;
	background:url(http://www.aamulehti.fi/ssi/bloginosto2/list_bullet.gif) no-repeat -2px 5px;
	display:block;
	height:1.5em;
	overflow:hidden;	
}
.kolmosputkiblogit .juttulista a:hover {
  	text-decoration:underline;
}


