*{
	border: 0;
	padding: 0;
	margin: 0;
}
body {
	font-family: verdana,arial,sans-serif;
	font-size: small;
}

/********************
*	CONTAINER
********************/

#programTablePage{

}

/***************************************
*	OTSAKKEEN TYYLIT
****************************************/

/* Minitelkku otsake taulukon ylimmällä rivillä */
#minitelkku_header {
	background: url('images/header_bg.png') repeat-x;
	width: 100%;
	height: 46px;
	padding: 0 0.5em;
	overflow: hidden;
	padding-left: 1em;
}

#logo {
	vertical-align: middle;
	background: url(http://nix.telkku.com:8080/minitelkku/images/non-transparent_telkku_logo.png) no-repeat;
	display: block;
	width: 145px;
	height: 35px;
	float: left;
}

#minitelkku_header .title {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	margin-left: 1em;
	margin-top: 6px;
	display: block;
	float: left;
}

#minitelkku_header .more_channels {
	float: right;
	font-weight: bold;
	color: white;
	text-align: right;
	margin-right: 1em;
	font-size: 13px; /* IE6 */
}

#minitelkku_header .more_channels a {
	display: block;
	color: #fed06d;
	text-decoration: none;
}

/***************************
*	OHJELMATAULUN TYYLIT
***************************/

/* Ohjelmaikkunataulu ja kanavien ohjelmaniput */
.channelSlot {
	border-collapse: collapse;
}

.channelSlot {
	width: 100%;
}

.timeSlot:last-child {
	border-bottom: 0;
}

/* Ohjelmanipun container */
.channelSlotCell {
	vertical-align: top;
	padding: 0;
	background: url('images/time_td.png') repeat-y;
}

/* kellonaika rivit */
.channelSlot .time {
	width: 42px;
	padding: 0;
	font-size: 13px; /* IE6 */
}

/* ohjelmien nimet */
.channelSlot .name {
	padding-left: 2px;
	font-size: 13px; /* IE6 */
}
.channelSlot .name a {
	color: black;
	text-decoration: none;
}

/* tällä hetkellä pyörivien ohjelmien rivi */
.currentProgram {
	background-color: #c7dfff;
}

.currentProgramTime {
	background-color: #83b9ff;
}

/* Venytetään ohjelmataulu containerin kokoiseksi */
#programTable {
	width: 100%;
	height: 250px;
}

#programTable td{
	
}

/* Kanavien nimet sisältävä rivi */
#programTable th {
	height: 35px;
}

/* Reunojen pyöristykset */
#programTablePage .top  { 
	background: url('images/horizontal_border.png') repeat-x top; 
}
#programTablePage .bottom { 
	background: url('images/horizontal_border.png') repeat-x bottom; 
}
#programTablePage .left  { 
	background: url('images/vertical_border.png') repeat-y left; 
}
#programTablePage .right { 
	background: url('images/vertical_border.png') repeat-y right; 
}
#programTablePage  .upper-left {
	background: url('images/ul_corner.png') no-repeat top left;
}
#programTablePage  .upper-right {
	background: url('images/ur_corner.png') no-repeat top right;
}
#programTablePage  .bottom-left {
	background: url('images/bl_corner.png') no-repeat bottom left;
}
#programTablePage  .bottom-right {
	background: url('images/br_corner.png') no-repeat bottom right;
}
