/*
Sininen #0061aa
Violetti #b41e8e
Oranssi #ea8d44
Hiekka tumma #c5c2ab
Hiekka vaalea #eeede3
*/

body {
	/*background:#B5B8BE;*/
	background:#ddd;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:150%;
	color:#444;
}
a {
	color:#0061aa;
	outline:0;
}
a:hover {
	color:#2685ce;
}


a.luelisaa {
	padding:0px 5px 0px 5px;
	background:#006699;
	background:#0061AA;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	line-height:11px;
	text-decoration:none;
	border:0px solid #3399CC;
	border-color:#3399CC #0061aa #0061aa #3399CC;
}
a.luelisaa:hover {
	color:#fff;
	background:#3399CC;
}
a.luelisaa:active ,
a.luelisaa:focus {
	background:#006699;
	border-color:#0061aa #3399CC #3399CC #0061aa;
}


h1 ,
h2 {
	/*font-family:Myriad Pro;*/
}

div {
	position:relative;
}

table.pageholder {
	width:100%;
	height:auto;
	border-collapse:collapse;
	border:0 solid #fff;
	padding:0;
	margin:0;
}
#td_header ,
#td_nav ,
#td_middle ,
#td_footer {
	padding:0;
	margin:0;
	border:none;
}
#container {
	margin:0 auto 0 auto;
	text-align:left;
	width:980px;
  padding: 5px 0 0 0;
}

#wrap {
	border:0;
	float:left;
	clear:both;
	width:980px;
	background:#fff;
	margin:0 0 0 0;
}
#bottomspace {
	float:left;
	clear:both;
	width:954px;
	height:35px;
}


#header ,
#nav ,
#footer {
	float:left;
	clear:both;
	width:100%;
}

#contentcolumns {
	float:left;
	clear:left;
	width:810px;
}

#contentcolumns.frontpage {
	width:660px;
}

#widecolumn {
	float:left;
	clear:both;
	width:824px;
	
	width:660px;
	background:#fff;
}
#widecolumn_bottom {
	float:left;
	clear:both;
	width:824px;
	
	width:664px;
	background:#fff;
}
.widecolumn_padding {
	padding:0 5px 12px 5px;
}
#widecolumn_bottom .widecolumn_padding {
	padding:5px 5px 0 5px;
}
.widecolumn_content {
	padding:5px;
	background:#ccc;
}



#super {
	float:left;
	clear:both;
	width:660px;
	background:#fff;

}

.super_padding {
	padding:0px 0px 20px 10px;
	width:650px;
	float:left;
}
.super_content {
	float:left;
	padding:0px 0px 18px 10px;
	padding:0 0 16px 0;
	background:#fff;
	border-bottom:1px solid #eee;
	width:650px;
}
.super_content img {
	margin: 0 0 0 5px;
	border: 0px solid #111;
}


/*PIKKUNOSTOT*/
#pikkunostot {
	width:646px;
	padding:0 0 18px 18px;
	position:relative;
	float:left;
	clear:both;
	line-height:121%;

	display:none;
}
#pikkunostot a {
	color:#B41E8E;
	text-decoration:none;
}
#pikkunostot a:hover {
	text-decoration:underline;
}
.pikkunostot_wrap {
	width:646px;
	display:table;
	color:#333;
	border:0 solid #BCD4EF;
	border-width:0px 0 0px 0px;
	/*background:#E7F2FF url(/grafiikka/bg_nostot_2.gif) repeat-x;*/
	
	border-top:0px dotted #ccc;
	border-bottom:0px dotted #ccc;
	
	background:#eeede3;
}

.pikkunostot_block {
	float:left;
	width:205px;
	font-size:11px;
	overflow: hidden;
	height:70px;	
	padding-top:3px;
	padding-bottom:5px;
	padding-left:5px;
}

.pikkunostot_block strong {
	
}
#pikkunostot img {
	float:left;
	margin:2px 6px 120px 0;
	border:1px solid #444;
}


/*HEADER*/
#header {
	height:96px;
	/*background:url(/grafiikka/bg_header.gif) repeat-x 0 1px;*/
}
#branding {
	position:absolute;
	top:25px;
	left:18px;
}
#branding a {
	display:block;
	/*background:url(/grafiikka/al_logo.gif) no-repeat;
	width:195px;
	height:27px;*/
	background:url(/grafiikka/al_logo_new.gif) no-repeat;
	width:214px;
	height:28px;
}
#branding a span {
	display:none;
}
#clock {
	position:absolute;
	top:60px;
	left:11px;
	width:30px;
	
	left:16px;
}
#date {
	position:absolute;
	top:61px;
	left:14px;
	left:44px;
	
	left:49px;
	width:195px;
	width:165px;
	white-space:nowrap;
	overflow:hidden;
	font-size:11px;
	line-height:115%;
}
#date .date_info {
	font-weight:bold;
	color:#A9AFB2;
	color:#B5B8BE;
}
#date .names {
	color:#A9AFB2;
	color:#B5B8BE;
}
#top_ad {
	position:absolute;
	/*top:3px;
	right:3px;
	width:728px;
	height:90px;*/

	top:15px;
	right:10px;
}





/*NAV*/
#nav_global {
	width:980px;
	float:left;
	clear:both;
	border:0px solid #0061AA;
	font-size:11px;
}
#nav_global ul {
	list-style:none;
	padding:6px 0 0 0;
	margin:0;
	float:left;
}
#nav_global ul li {
	float:left;	
	border-right:1px solid #eee;
	padding:0 10px 5px 10px;
}
#nav_global ul a {
	display:block;
	margin:0 0 0 0;
	text-decoration:none;
	color:#0061AA;
}
#nav_global ul a:hover ,
#nav_global ul a.on {
	text-decoration:underline;

}
#search {
	float:right;
}


#nav_site {
	background:#0061aa url(../grafiikka/bgnav.gif) repeat-x scroll left bottom;
	width:100%;
	float:left;
	clear:both;
	border-bottom:0px solid #74bef6;
}
#nav_site ul {
	list-style:none;
	padding:0 0 0 0px;
	margin:0;
	float:left;
}
#nav_site ul li {
	float:left;
	font-size:12px;
	letter-spacing:0;
}
#nav_site ul a {
	display:block;
	margin:0;
	padding:10px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
}
#nav_site ul a:hover  {
	text-decoration:underline;
}
#nav_site ul a.on {
	text-decoration:none;
	background:#3381BB /*url(../grafiikka/bulletnav.gif) no-repeat center bottom*/;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
#sublinks {
	float:right;
	padding:10px 8px 0 0;
}
#sublinks a.login {
	float:left;
	margin:0 0 0 3px;
}
a.rss {
	display:block;
	color:#fff;
	float: left;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	background:#FF6600;
	line-height:100%;
	padding:2px 5px 2px 5px;
	border:1px solid #7D3302;
	border-color:#FFC8A4 #7D3302 #7D3302 #FFC8A4;
}
a.rss:hover {
	color:#fff;
	text-decoration:none;
	padding:1px 4px 1px 4px;
	border:2px solid #7D3302;
	border-color:#FFC8A4 #7D3302 #7D3302 #FFC8A4;
}
a.login {
	display:block;
	color:#fff;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	background:#0061aa;
	line-height:100%;
	padding:2px 5px 2px 5px;
	border:1px solid #7D3302;
	border-color:#3B7EBF #06335F #06335F #3B7EBF;
}
a.login:hover {
	color:#fff;
	text-decoration:none;
	padding:1px 4px 1px 4px;
	border:2px solid #7D3302;
	border-color:#3B7EBF #06335F #06335F #3B7EBF;
}







/*TABROW*/
#tabrow {
	width:100%;
	clear:both;
	overflow:auto;
	display:table;
	margin:0 0 0 0;
	line-height:120%;
	height:auto;
}
#tabrow_wide {
	width:824px;
	clear:both;
	float:left;
	display:table;
	margin:-20px 0 18px 0;
	line-height:120%;
	background:#fff;
}
#tabrow .tabrow_padding {
	float:left;
	width:496px;
	padding:0 0 0 0px;
}
#tabrow_wide .tabrow_padding {
	float:left;
	/*width:100%;*/
	width:980px;
	padding:5px 0 0 0;
	/*background:#74bef6;*/
	background:#3381BB url(../grafiikka/bgsubnav.gif) repeat-x scroll left bottom;

}
#tabrow ul {
	list-style:none;
	display:block;
	padding:0 0 0 7px;
	margin:0;
	width:495px;
	float:left;
	background:url(../grafiikka/bg_tabrow.gif) repeat-x left bottom;
}
#tabrow_wide ul {
	list-style:none;
	display:block;
	padding:0;
	margin:0;
	float:left;
	width:980px;
}
#tabrow ul li ,
#tabrow_wide ul li {
	float:left;
}
#tabrow ul a ,
#tabrow_wide ul a {
	display:block;
	margin:0;
	padding:10px;
	text-decoration:none;
	background:none;
	font-weight:normal;
	font-size:12px;
	color:#fff;
	/*text-transform:uppercase;*/
}
#tabrow ul a:hover ,
#tabrow_wide ul a:hover  {
	text-decoration:underline;
}
#tabrow ul a.on ,
#tabrow ul a.on:hover ,
#tabrow_wide ul a.on ,
#tabrow_wide ul a.on:hover {
	text-decoration:none;
	/*color:#74bef6;*/
	color:#B41E8E;
	background:#fff;
	font-weight:bold;
}
#tabrow_wide ul a.on {
	/*text-transform:uppercase;*/
}











/*MENULINKIT*/
#menu_linkit {
	width:300px;
	clear:both;
	float:none;
	overflow:hidden;
	margin:0 0 10px 0;
	/*line-height:120%;*/
}
#menu_linkit .tabrow_padding {
	float:left;
	width:100%;
	padding:0;
}
#menu_linkit ul {
	list-style:none;
	display:block;
	padding:5px 0 0 5px;
	margin:0;
	float:left;
	width:295px;
	/*background:#74bef6;*/
	background:#3381BB url(/grafiikka/bgsubnav.gif) repeat-x scroll left bottom;
}
#menu_linkit ul li {
	float:left;
	display:block;
}
#menu_linkit ul a {
	display:block;
	padding:5px 10px;
	margin:0;
	text-decoration:none;
	background:none;
	font-weight:bold;
	font-size:11px;
	color:#fff;
	text-transform:uppercase;
	zoom:1;
	float:left;
	width:125px;
	text-align:center;
}
#menu_linkit ul a:hover  {
	text-decoration:underline;

}
#menu_linkit ul a.on ,
#menu_linkit ul a.on:hover {
	text-decoration:none;
	background:#fff;
	/*color:#74bef6;*/
	color:#B41E8E;
}
#menu_linkit ul a.on {
	/*text-transform:uppercase;*/
}













/*COLUMNS*/
#columns {
	/*width:954px;*/
	width:100%;
	float:left;
	clear:both;
	margin:20px 0 0 0;
	background:none;
}
#columns_bg {
	width:100%;
	float:left;
	clear:both;
	background:none;
}
#columns_bg.single {
	width:100%;
	float:left;
	clear:both;
	background:#fff;
}
#maincolumn {
	float:left;
	width:488px;
}
#sidebar {
	float:left;
	width:300px;
	padding:0 10px 0 10px;
	overflow:hidden;
	margin:0 0 0 0;
	font-size:11px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}
#sidebar.sidebar_frontpage {
	padding:0 10px 0 10px;
	border-left:0px solid #eee;
	border-right:0px solid #eee;
}
#sidebar_ad {
	float:right;
	width:170px;
	overflow:hidden;
	margin:0;
	text-align:center;
	padding:0 0 5px 0;
}

.frontpage #sidebar_ad {
	border:1px solid #eee;
	padding:5px 0 5px 0;
	margin:0 0 15px 0;
}




/*SIDEBAR CONTENT*/
.sidebar_colspan {
	float:left;
	width:300px;
	background:#fff;
}
#sidebar_a {
	float:left;
	width:150px;
}
#sidebar_b {
	float:left;
	width:150px;
	margin:0 0 0 0;
}




/*THEMETITLE*/
#themetitle {
	float:left;
	width:100%;
	clear:both;
	margin:-5px 0 0px 0;
}
.themetitle_padding {
	padding:5px 0px 12px 10px;
	background:#fff;
}
#themetitle h1 {
	padding:8px 0 10px 0px;
	margin:0;
    	/*border:0 solid #C5CED6;
	border-width:0 0 3px 0;*/
	font-size:28px;
	font-weight:bold;
	color:#0061aa;
	letter-spacing:-1px;
} 
#themetitle h1 a {
	text-decoration: none;
}
#themetitle h1 a:hover {
	text-decoration: underline;
}



/*WEATHERSERVICE*/
#weatherservice {
	float:left;
	width:100%;
	clear:both;
	margin:0 0 0px 0;
}
.weatherservice_padding {
	/*padding:5px 10px 8px 12px;*/

	padding:5px 10px 8px 8px;
	background:#fff;
}
.weatherservice_wrap {
	/*border:1px solid #C5CED6;*/
	margin:0 0 12px 0;
}




/*BLOCKS*/
.ticker {
	width:100%;
}
.ticker_padding {
	padding:0 12px 10px 12px;
	font-size:11px;
}
.ticker .background {
	/*background:lightyellow;
	padding:5px;
	border:1px solid orange;*/
}
.ticker a {
	color:#000;
	text-decoration:none;
}
.ticker a:hover {
	text-decoration:underline;
}
.ticker em {
	color:#99CC00;
	font-weight:bold;
	font-style:normal;
}

.ticker_2 {
	width:100%;
}
.ticker_2 .ticker_padding {
	padding:0 0px 18px 10px;
	font-size:11px;
}
.ticker_2 .background {
	background:#E7F2FF;
	padding:5px;
	font-weight:bold;
	text-align:center;
	border:1px solid #0075b1;

	background:lightyellow;
	border:1px solid orange;
	width:456px;
}

#juttu_nosto_wrapper {
	float:left;
}

.nosto_block {
	width:100%;
	display:table;
}
.nosto_block_padding {
	padding:0px 10px 20px 10px;
	overflow:hidden;
}

.nosto_block_padding .block {
	width:100%;
}


.nosto_block_2 {
	font-size:11px;
}
.nosto_block_2_padding {
	padding:5px 0px 20px 10px;
}

.nosto_block_3 {
	
}
.nosto_block_3_padding {
	padding:18px 0px 12px 10px;
}

.nosto_block_3 .block {
	padding:0 0 0 0;
	width:100%;
}



.lista_block {
	font-size:12px;
	/*background:#E7F2FF url(/grafiikka/bg_nostot_2.gif) repeat-x;*/
	background:#E7F2FF;
	border:0 solid #BFDEFF;
	border-width:0px 0 0px 0;
	margin:0 10px 0 10px;
	width:468px;
}
.lista_block_padding {
	padding:10px;
}
.lista_block h3 {
	padding:0;
	margin:0 0 5px 0;
	font-size:14px;
}
.lista_block_padding td {
	
}

.uutiset_osastonostot {
	margin:0 0 0px 0;
}


.maincolumn_banner_top {
	
}
.maincolumn_banner_top_padding {
	/*padding:0 0 7px 5px;*/
	padding:0 0 15px 0px;
	text-align:center;
}

.maincolumn_banner {
	text-align:center;
}
.maincolumn_banner_padding {
	padding:10px 0 10px 0;
}




div.hr {
	font-size:1px;
	border:0 solid #eee;
	border-width:0 0 0 0;
	height:1px;
	overflow:hidden;
	width:100%;
	margin:10px 0 10px 0;
	position:relative;
	display:block;
}

div#maincolum div.hr {
	width:468px;
	margin:10px 18px 10px 18px;
	display:none;
}




table.grid_1 {
	border-collapse:collapse;
	border:none;
	padding:0;
	margin:0;
}
table.grid_1 td {
	border:none;
	padding:0 2px 0 2px;
	margin:0;
}

/*PAIVAN NOPEAT*/
.paivannopeat {
	overflow:hidden;

}
.paivannopeat .block {
	background:url(/grafiikka/bg_verkkolehti.gif) repeat-x;
	padding:9px;
	width:448px;
	/*border:1px solid #E8ECEF;*/
	border:1px solid #DE8703;
	overflow:hidden;
	font-size:14px;
}
.paivannopeat .block img {
	border:1px solid #000;
	margin-right:0;
	margin-left:10px;
}
.paivannopeat h4 {
	font-size:26px;
	letter-spacin:-1px;
	padding:0 0 0.5em 0;
	line-height:105%;
	margin:0;
	font-weight:bold;
	letter-spacing:0px;
	color:#333;
}
.paivannopeat h4 a {
	/*color:#333;*/
	color:#000;
	text-decoration:none;
}
.paivannopeat h4 a:hover {
	text-decoration:underline;
}




.gallerianosto {
	overflow:hidden;
}
.gallerianosto img {
	border:1px solid #000;
	width: 135px;
}
.gallerianosto a {
	border:0px solid #000;
}

/*FOOTER*/
#footer {
	padding:0;
	margin:0;
	display:block;
	border:0 solid #EEEEEE;
	border-width:1px 0 0 0;
}
.footer_padding {
	font-size:11px;
	color:#A0A3AA;
	font-weight:bold;
	padding:15px 10px 15px 10px;
	margin:0;
	float:left;
}











/*TEKSTIT*/
.block h1 {
	padding:0 0 0.5em 0;
	margin:0;
	font-weight:bold;
	color:#000;
	letter-spacing:-1px;

	font-size:24px;
	line-height:110%;
}
h1.etusivuisootsikko {
	font-size:20px;
	padding:0 0 0.5em 0;
	line-height:100%;
	margin:0;
	letter-spacing:-1px;
}
.block h1 a {
	text-decoration:none;
	color:#000;
}
.block h1 a:hover {
	text-decoration:underline;
}
.block h2 {
	font-size:14px;
	padding:0 0 0.5em 0;
	line-height:105%;
	margin:0;
	color:#000;
}
.block h2 a {
	text-decoration:none;
	color:#000;
}
.block h2 a:hover {
	text-decoration:underline;
}

h2 {
	padding:0;
	margin:0 0 0.5em 0;
	font-size:14px;
}
h3 {
	padding:0;
	margin:0 0 0.3em 0;
	font-size:14px;
	color:#000;
}

h4 {
	padding:0;
	margin:0 0 0.2em 0;
	font-size:100%;
}
.lista_block h3 a {
	/*color:#000;*/
	text-decoration:none;
}
.lista_block h3 a:hover {
	text-decoration:underline;
}


p {
	padding:0 0 0.5em 0;
	margin:0;
}



.block h3 {
	
}
.nosto_block_3 h2 {
	padding:0px 3px 0px 5px;
	margin-bottom:8px;
	border-left:10px solid #EA7C1D;
	font-size:12px;
	line-height:100%;
	color:#EA7C1D;
}
.nosto_block_3 h2 a {
	color:#EA7C1D;
}

.nosto_block_3 h3 {
	padding:0;
	margin:0 0 0.1em 0;
	font-size:12px;	
	border-bottom:1px dotted #ccc;
}
.block h3 a {
	text-decoration:none;	
	/*color:#b41e8e;*/
}
.block h3 a:hover {
	text-decoration:underline;
}



.block {
	line-height:150%;
}

.block p {
	/*padding:0 0 0.5em 0;*/
	padding:0 0 1em 0;
	margin:0;
}
.side_box p {
    padding:0;
    margin:0 0 0.8em 0;
}
.side_box .juttulista {

}

.block p.ingressi {
	padding:0 0 1em 0;
	margin:0;
	font-size:16px;
	font-weight:normal;
	line-height:130%;
	font-family:Arial, Helvetica;
}

.nosto_block_3 .block p {
	padding:0;
	margin:0;
}

p.juttuaika {
	padding:0 0 0 0;
	margin:-0.8em 0 0.2em 0;
	font-size:10px;
	color:#666;
	text-transform:uppercase;
}

.block .info img {
	float: left;
	margin: 0 10px 5px 0;
}

#super h1 {
	letter-spacing:-1px;
	padding:0;
	margin:0 0 0.1em 0;
	font-weight:bold;
	font-size:34px;
	line-height:100%;
}
#super h1 a {
	color:#000;
	text-decoration:none;
}
#super h1:hover a {
	text-decoration:underline;
}


#super p {
	padding:0 0 0.5em 0;
	margin:0;
	font-size:14px;
	line-height:150%;
}
#super p.juttuaika {
	padding:0;
	font-size:10px;
	margin:1em 0 0.5em 0;
}
#super h3 a {
	text-decoration:none;
	color:#333;
}
#super ul a:hover ,
#super h3 a:hover {
	text-decoration:underline;
	color:#2685ce;
}

#super ul {
	list-style:none;
	padding:0;
	margin:0;
}
#super ul a {
	text-decoration:none;
}

#super ul a:hover {
	text-decoration:underline;
}
#super ul em {
	font-style:normal;
	font-size:11px;
	font-weight:bold;
	margin:0 3px 0 0;
}
#super ul li {
	margin:0 0 2px 0;
	line-height:130%;
}
#super ul .source {
	margin:0 0 0 5px;
}
#super ul .juttupvm {
 	display:inline;
       margin:0 0 0 0.1em;
       font-size:10px;
       color:#666;
}






.source {
	font-size:11px;
	font-weight:bold;
	padding:0 0 2px 0;
	text-transform:uppercase;
}
.source a {
	text-decoration:none;	
	/*color:#74bef6;*/
	color:#b41e8e;
}
.source a:hover {
	text-decoration:underline;	
}
em.puolilihava {
	font-weight: bold;
	font-style: normal;
}


/*PÃ„Ã„JUTTULISTA*/
ul.paajuttu_lista {
	list-style:none;
	padding:0;
	margin:0;
}
ul.paajuttu_lista a {
	text-decoration:none;
}
ul.paajuttu_lista a:hover {
	text-decoration:underline;
}
.paajuttu_lista em {
	font-style:normal;
	font-size:11px;
	font-weight:bold;
	margin:0 3px 0 0;
}
.paajuttu_lista .source {
	margin:0 0 0 5px;
}
.paajuttu_lista .juttupvm {
 	display:inline;
    margin:0 0 0 0.1em;
    font-size:10px;
    color:#666;
}


/*JUTTUKUVA*/
.juttukuvat {
	float: right;
	clear:right;
}
.juttukuva_iso {
	width:468px;
	overflow:hidden;
	border:0px solid #111;
	margin:0 0 5px 0;
}
.juttukuva {
	position:relative;
	padding:0;
	margin:0px 0 12px 10px;
	width:182px;
}
.juttukuva_wide {
	position:relative;
	padding:0;
	margin:5px 0 5px 0;
}
.juttukuva img {
	border: 0px solid #111;
	padding:0px;
	margin:6px 0 0 0;
}
.juttukuva_wide .kuva {
	width:468px;
	border: 0px solid #111;
	overflow: hidden;
}
.juttukuva_wide img {
	border: none;
}

.kuvateksti {
	padding: 3px 0 0 0;
	font-size: 11px; 
	line-height: 125%;
}
.galleria_linkki {
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	background:#006699;
	text-align:right;
	font-size:11px;
	font-weight:bold;
	opacity:.9;
}


/*LINKBOX*/
.linkbox {
	/*width:169px;
	float:right;
	clear:right;
	font-size:11px;
	margin:0 0 15px 10px;
	padding:2px 0 10px 10px;
	border-left:1px solid #D8E5F2;
	border-bottom:1px solid #D8E5F2;*/

	float:right;
	clear:right;
	font-size:11px;
	margin:0 0 15px 10px;
	background:#eee;
	padding:8px;
	width:166px;
	overflow:hidden;
}
.linkbox h4 {
	display:block;
	padding:0 0 2px 0;
	/*color:#333;*/
	color:#B41E8E;
	line-height:11px;
	text-transform:uppercase;
}





#super .juttukuva {
	float:right;
	position:relative;
	padding:0;
	margin:0 0 5px 10px;
	width:318px;
	border:0px solid #000;
}
#super .galleria_linkki {
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	background:#006699;
	text-align:right;
	font-size:11px;
	font-weight:bold;
	opacity:.9;
}
.galleria_linkki a {
	color:#fff;
	display:block;
	text-decoration:none;
}
.galleria_linkki a:hover {
	color:#fff;
	text-decoration:underline;
}

.galleria_linkki a span {
	display:block;
	padding:2px 5px 2px 5px;
}




.kuva_kaista {
	margin:0 0 4px 0;
	position:static;
}
.kuva_kaista img {
	border:1px solid #000;
}

/*SIDEBOX*/

.side_box { 
    	float:left;
    	width:300px;
	position:relative;
	overflow:hidden;
    	border:0 solid #eee;
    	border-width:0 0 0 0;
   	font-size:12px;
}
.side_box_padding { 
    	padding:1px 0px 10px 0px;
    	width:300px;
}
.side_box ul { 
    	list-style:none;
    	padding:3px 0 0 0;
    	margin:0 0 15px 0;
    	font-weight:normal;
}
.side_box ul li { 
    	display:inline;
    	line-height:130%;
}
.side_box img.sahkekuva { 
    	float:right;
    	border:1px solid #006699;
}
/*.side_box h3 { 
	font-size:11px;
	line-height:14px;
	text-transform:uppercase;
	width:300px;
	padding:0px 0 3px 0;
	border-bottom:1px dotted #ccc;
	color:#B41E8E;
}*/
.side_box h3 {
	/*
	text-transform:uppercase;
	width:300px;
	font-size:18px;
	line-height:140%;
	color:#B41E8E;
	*/

	text-transform:none;
	width:300px;
	font-size:24px;
	line-height:140%;
	color:#B41E8E;
	font-weight:normal;
	letter-spacing:-1px;
}

.side_box h3 font {
	font-size:11px;
}
.side_box ul a { 
	text-decoration:none;
	display:block;
	margin:0 0 2px 0;
	position:relative;
}

.side_box h3 a { 
	text-decoration:none;
	/*color:#74BEF6;*/
	color:#B41E8E;
}
.side_box ul a:hover ,
.side_box h3 a:hover { 
    text-decoration:underline;
    /*color:#3399CC;*/
}
.side_box ul span { 
    display:block;
    position:relative;
    margin:0 0 0 0px;
}
.side_box ul a em { 
    font-style:normal;
    position:absolute;
    left:-30px;
    top:0;
}
.side_box ul a {
    padding:0 0 0 13px;
    background:url(/grafiikka/list_bullet.gif) no-repeat 0px 3px;
}

.side_box h3 img { 
    border:0;
}

.side_box div.hr { 
    margin:10px 0 7px 0;
	height:0;
overflow:hidden;
display:none;
}

.side_bar div.hr { 
    	margin:0;
	display:none;
}


/*SIDEBOX 2*/

.side_box2 { 
   	float:left;
	width:100%;
    	border:0 solid #eee;
    	border-width:0 0 0 0;
    	font-size:12px
}

.side_box2_padding { 
    	padding:10px 10px 10px 10px;
    	width:140px;
}
.side_box2 ul { 
    	list-style:none;
    	padding:0;
    	margin:0;
    	font-weight:normal;
}
.side_box2 ul li { 
    	display:inline;
    	line-height:120%;
}
/*.side_box2 h3 { 
    font-size:11px;
	text-transform:uppercase;
	width:300px;
	padding:7px 0 3px 0;
	border-bottom:1px dotted #ccc;
}*/

.side_box2 h3 {
	text-transform:uppercase;
	/*font-size:11px;
	line-height:14px;
	width:290px;
	padding:5px;
	background:#74bef6;*/
	width:300px;
	font-size:18px;
	line-height:140%;
	/*font-family:Myriad Pro;*/
}

.side_box2 ul a { 
    text-decoration:none;
    display:block;
    margin:0 0 2px 0;
    position:relative;
}
.side_box2 h3 a { 
    text-decoration:none;
    /*color:#000;*/
	color:#74BEF6;
}
.side_box2 ul a:hover ,
.side_box2 h3 a:hover { 
    text-decoration:underline;
    color:#3399CC;
}
.side_box2 ul span { 
    display:block;
    position:relative;
    margin:0 0 0 0px;
}
.side_box2 ul a em { 
    font-style:normal;
    position:absolute;
    left:-30px;
    top:0;
}
.side_box2 h3 img { 
    border:0;
}
.side_box2 div.hr { 
    margin:10px 0 7px 0;
}



/*SÄHKEET*/
.sahkeet {
	float:left;
	width:320px;
	
	width:300px;
	
	border:0 solid #eee;
	border-width:0 0 0px 0;
	margin:0 0 0 0;
	font-size:12px;

}

.sahkeet_padding {
	padding:0px 0px 10px 0px;
	width:320px;
	
	width:300px;
	overflow:hidden;

}
.sahkeet ul {
	list-style:none;
	padding:3px 0 0 0;
	margin:0 0 15px 0;
	font-weight:normal;

	/*font-size:11px;
	font-family:Verdana;*/
}
.sahkeet ul li {
	display:inline;
	line-height:150%;
}
.sahkeet img.sahkekuva, .sahkeet img.thumbkuva  {
	position: relative;
	float:right;
	border:1px solid #0061aa;
	z-index: 1000;
	margin:0.1em 0 0 5px;
}
.sahkeet h3 {
	text-transform:none;
	width:300px;
	font-size:24px;
	line-height:140%;
	color:#B41E8E;
	font-weight:normal;
	letter-spacing:-1px;
}

.sahkeet ul a,
.sahkeet p a {
	text-decoration:none;
	display:block;
	margin:0 0 4px 0;
	position:relative;
}
.sahkeet h3 a {
	text-decoration:none;
	/*color:#fff;*/
	/*color:#74bef6;*/
	color:#b41e8e;
}
.sahkeet ul a:visited {
	/*color:#444;*/
}
.sahkeet ul a:hover ,
.sahkeet p a:hover ,
.sahkeet h3 a:hover {
	text-decoration:underline;
	/*color:#3399CC;*/
}
.sahkeet ul span {
	display:block;
	position:relative;
	/*margin:0 0 0 3em;*/
	margin:0 0 0 35px;
}
.sahkeet ul a em {
	font-style:normal;
	position:absolute;
	/*left:-3em;*/
	left:-35px;
	top:0px;
	font-size:11px;
	font-weight:bold;
	line-height:14px;
	top:2px;
}
.sahkeet ul.suosit  span {
	margin:0 0 0 20px;
}
.sahkeet ul.suosit  a em {
	left:-20px;
	top:2px;
	display:block;
	width:15px;
	background:#E7F2FF;
	text-align:center;
}
.sahkeet h3 img {
	border:0;
}

.sahkeet div.hr {
	margin:10px 0 7px 0;
	display:none;
}
.sahkeet ul span.juttupvm {
	display:inline;
	margin:0 0 0 0.1em;
	font-size:10px;
	color:#666;
}

/*LINK LIST*/
.link_list {
	list-style:none;
	padding:0;
	margin:0;
	line-height:115%;
}
.link_list ul {
	list-style:none;
	padding:3px 0 0 15px;
	margin:0;
	display:block;
}
.link_list li {
	padding:0;
	display:inline;
}
.link_list ul li {
	padding:0;
	margin:0;
}
.link_list a {
	display:block;
	text-decoration:none;	
	padding:1px 1px 1px 15px;
	margin:0 0 2px 0;
	color:#333;
	background:url(/grafiikka/list_bullet.gif) no-repeat 3px 3px;
}
.link_list a:hover {
	text-decoration:underline;
	background:url(/grafiikka/list_bullet.gif) no-repeat 3px 3px;
}

.link_list ul a {
	background:url(/grafiikka/list_bullet_inner.gif) no-repeat 3px 3px;
}
.link_list ul a:hover {
	background:#fff url(/grafiikka/list_bullet_inner.gif) no-repeat 3px 3px;
}

/* MAIN COLUMN LINKKILISTA*/
.linkkilista ul {
	list-style:none;
	padding:3px 0 0 0;
	margin:0 0 5px 0;
	font-weight:normal;
}
.linkkilista ul li {
	display:inline;
	line-height:120%;
}
.linkkilista ul a {
	text-decoration:none;
	display:block;
	margin:0 0 2px 0;
	position:relative;
}
.linkkilista ul a:visited {
	color:#333;
}
.linkkilista ul a:hover {
	text-decoration:underline;
	color:#3399CC;
}
.linkkilista ul span {
	display:block;
	position:relative;
	margin:0 0 0 3em;
}
.linkkilista ul a em {
	font-style:normal;
	/*margin:0 0 0 -30px;*/
	position:absolute;
	left:-3em;
	top:0;
}
/*PÄIVÄN NOPEAT*/
.paivannopeat .source {
	/*padding:0px 3px 1px 0px;*/
	padding:5px 5px 5px 5px;
	/*margin:0 0 6px 0;*/
	margin:-10px -10px 10px -10px;
	font-size:11px;
	line-height:150%;
	font-weight:bold;
	border-left:0px solid #EA7C1D;
	border-bottom:0px solid #EA7C1D;
	background:#DE8703;
}
.paivannopeat .source a {
	color:#fff;
	text-decoration:none;
}
.paivannopeat .source a:hover {
	text-decoration:underline;
}

/*KESKUSTELU LIST*/
.source_keskustelut {
	background:url(/grafiikka/bg_keskustelu_title.gif) no-repeat 3px 6px;
	padding:5px 0px 2px 23px;
	margin:0 0 0px 0;
	font-size:11px;
	font-weight:bold;
	font-size:14px;
	letter-spacing:-0.02em;
	border-bottom:0px solid #c9d0d6;
}
.source_keskustelut a {
	/*color:#fff;*/
	text-decoration:none;
}
.source_keskustelut a:hover {
	text-decoration:underline;
}


.keskustelu_list {
	list-style:none;
	padding:8px;
	margin:0;
	line-height:115%;
       /* overflow:hidden;
        width:149px;*/
	/*background:#FFFBE7 url(/grafiikka/bg_verkkolehti.gif) repeat-x;
	border-bottom:0px solid #E8ECEF;*/
}
.keskustelu_list li {
	padding:0 0 5px 0;
}
.keskustelu_list a {
	display:block;
	padding:0 0 0 15px;
	background:url(/grafiikka/keskustelu_bullet.gif) no-repeat 0 2px;
	text-decoration:none;
}
.keskustelu_list a:hover {
	text-decoration:underline;
}

.keskustelu_list .juttupvm {
	display:inline;
       margin:0 0 0 0.8em;
       font-size:10px;
       color:#666;
}




/*WEATHER*/
.weather {
	float:left;
	width:320px;
	
	width:300px;
	
	overflow:hidden;
	border:0 solid #eee;
	border-width:0 0 1px 0;
}
.weather img {
	border:none;
	margin: 8px 0 0 0;
}



/*MAINOKSET*/

.al_mainokset {
	text-align:center;
	padding:5px 0 0 0;
	width:100%;
	position:relative;
}
.sidebar_mainokset {
	text-align:center;
	padding:0 0 0 0;
}
.al_mainokset a ,
.sidebar_mainokset a {
	display:block;
	margin:0 0 5px 0;
}
.al_mainokset img ,
.sidebar_mainokset img {
	border:0;
}






/*IKONIT*/
.icon_maksullinen {
	border:none;
	vertical-align:middle;
	margin:0 3px 0 3px;
}

/* ETUSIVUN UUTISET */
#uutiset_pirkanmaa {
	display: block;
}
#uutiset_kotimaa {
	display: none;
}
#uutiset_ulkomaat {
	display: none;
}
#uutiset_urheilu {
	display: none;
}
#tabrow {
        display: none;
}
.paivannopeat img {
	float: right;
/*      margin: 0 10px 0 2px; */
        margin: 0 5px 5px 0;
}


/*KYSELY*/
.kysely {
	padding:10px;
	margin:0 0 5px 0;
	font-size:11px;
	border:0 solid #BCD4EF;
	border-width:0px 0 0px 0px;
	/*background:#E7F2FF url(/grafiikka/bg_nostot_2.gif) repeat-x;*/
	background:#f2f2f2;
}
.kysely .etusivuosastootsikko {
	line-height:140%;
	letter-spacing:0px;
	font-weight:bold;
	/*color:#0061aa;*/
	font-size:11px;
	color:#B41E8E;
	/*display:block;*/
	text-transform:uppercase;
}
.vote {
	width:100%;
	margin:3px 0 3px 0;
}
.votename {
	margin:0 0 5px 0;
	font-weight:normal;
	font-size:14px;
	color:#000;
}
.voteopt {
	width:100%;
	height:1.5em;
	position:relative;
}
.voteopt_left {
	left:0;
	top:0;
	font-weight:bold;
	position:absolute;
}
.voteopt_middle {
	left:30px;
	top:0;
	position:absolute;
	background:#fff;
	width:230px;
	font-size:11px;
	line-height:14px;
	border:1px solid #fff;
}
.voteopt_middle .left {
	background:#0061aa;
	float:left;
	border:0;
	border-right:1px solid #fff;
	margin-right:-1px;
	z-index:1000;
}
.voteopt_middle .right {
	/*background:#ea8d44;*/
	background:#B41E8E;
	float:right;
	border:0;
}
.voteopt_right {
	right:0;
	top:0;
	font-weight:bold;
	position:absolute;
}

.votetotal {
	width:100%;
	height:1.2em;
	position:relative;

}
.votetotal_left {
	left:0;
	top:0;
	position:absolute;
}
.votetotal_middle {
	left:110px;
	top:0;
	text-align:center;
	position:absolute;
	width:80px;
}
.votetotal_right {
	right:0;
	top:0;
	position:absolute;
}
.kysely .osastonpieniteksti {
	font-size:11px;
	text-align:center;
}











/*VERKKOLEHTI*/
.verkkolehti {
	/*background:url(/grafiikka/bg_verkkolehti.gif) repeat-x;*/
	margin:0 0 0 0;
	border:0 solid #eee;
	border-width:0 0 0px 0;
	width:100%;
	float:left;
	clear:both;
}
.verkkolehti_padding {
	/*padding:11px 10px;*/
	padding:10px 0 0 0;
}
.verkkolehti h3 {
	font-size:18px;
	padding:0 0 0.2em 0;
	margin:0;
	background:none;
	border:none;
	width:auto;
}
.verkkolehti h2 {
	font-size:14px;
	font-weight:normal;
	padding:0 0 0.5em 0;
	margin:0;
	background:none;
}
.verkkolehti p {
	padding:0 0 0.2em 0;
	margin:0;
}
.verkkolehti_kuva {
	float:right;
	padding:0 0 5px 0;
}
.verkkolehti_kuva img {
	border:1px solid #006699;
}






/* KERRO KAVERILLE */
div.pikapalaute ,
div.pikapalauteNotAuth ,
div.pikapalauteopen {
	/*background:#F4FAFF;*/
	padding:10px;
	border:1px solid #C0D3E5;
	margin:0px 0 0px 10px;	
	width:446px;

	padding:0;
	border:none;
	width:468px;
}
div.pikapalaute .lomake {
	display:none;
}
div.pikapalauteopen {

}
div.pikapalauteopen .lomake {
	display:block;
	padding:15px 0 0 0;
}
#pikapalaute a.pikapalautetoggle ,
#pikapalaute a.pikapalautetoggle:visited ,
#pikapalaute a.pikapalautetoggle:hover {
	font-weight:bold;
	text-decoration:none;
	display:block;
}

div.pikapalauteopen table {
	border-collapse:collapse;
	padding:0;
	margin:0;
	font-size:100%;
}
div.pikapalauteopen th {
	padding:3px 10px 0 0;
	margin:0;
}
div.pikapalauteopen td {
	padding:0 0 5px 0;
	margin:0;
}
#pikapalaute .text {
	width:250px;
}
#pikapalaute textarea {
	width:300px;
	height:100px;
}
div.pikapalaute .pikapalautetoggle span {
	display:block;
	padding:0 0 0 15px;
	background:url(/grafiikka/bullet.gif) no-repeat 0 3px;
}
div.pikapalauteopen .pikapalautetoggle span {
	display:block;
	padding:0 0 0 15px;
	background:url(/grafiikka/bullet_down.gif) no-repeat 0 5px;
}


/* KOMMENTIT */
.kommentit { margin-bottom: 10px;} 
.comment {
	padding:20px 10px 10px 10px;
	border:0px solid #c5c2ab;
	border-width:0px 0 0px 0;
	margin:5px 0 0 0;
	background:#eeede3;
	color:#333;
}
.comment .comment-content {
}
.comment .comment-author {
        /*color:#B41E8E;*/
}
.comment .comment-footer {
        /*margin: 8px 0 0 0;*/
        text-align: right;
        font-size: 11px;
        /*position:absolute;
        right:3px;
        top:3px;*/
        margin: 8px 0 0 0;
        /*color:#B41E8E;*/
        color:#333;
        line-height:11px;
}

.comment_count {
        font-size:11px;
        white-space:nowrap;
}
.comment_count img {
        border:none;
        vertical-align:-6px;
        margin:0;
        padding:0;
}
.comments-summary {
        padding: 0pt 0pt 10px;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1px;
}
.comment-num {
        padding: 3px 4px 3px 4px;
        background:#c5c2ab;
        position: absolute;
        left: 0pt; top: 0pt;
        font-size: 11px;
        font-weight:bold;
        color:#fff;
        line-height: 11px;
        text-align:center;
}
#comment_holder {
        /*display:none;*/
        border:0 solid #eee;
        border-width:1px 0 1px 0;
        height:34px;
        margin:0 0 20px 0;
        width:468px;
        line-height:100%;
}
#comment_left {
        position:absolute;
        top:0;
        left:0;
        padding:5px 0 0 0;
}
/*.comment_link {
       margin: 5px 0 8px 0;
        font-weight: bold;
        width: 100%;
        float: left;
}*/
#comment_left a.comment_link {
        float:left;
        display:block;
        padding:6px 5px 6px 15px;
        margin-right:10px;
        background:url(/grafiikka/keskustelu_bullet.gif) no-repeat 0 7px;
        color:#000;
        text-decoration:none;
}

#comment_left a.comment_link {
        float:left;
        display:block;
        padding:6px 5px 6px 15px;
        margin-right:10px;
        background:url(/grafiikka/keskustelu_bullet.gif) no-repeat 0 7px;
        color:#000;
        text-decoration:none;
}

#comment_left a.tellafriend {
        float:left;
        display:block;
        padding:6px 5px 6px 15px;
        background:url(/grafiikka/icon_tellafriend.gif) no-repeat 0 7px;
        color:#000;
        text-decoration:none;
}
#comment_left a.comment_link:hover ,
#comment_left a.tellafriend:hover {
        text-decoration:underline;
}
#comment_right {
        position:absolute;
        top:6px;
        right:0;
}

#comment_right img{
	margin-right:6px;
}

.al_mainokset_oikea img {
  margin: 0 0 2px 0;
}



/*MAINOKSET*/
.sidebar_mainoswide {
	
}

.sidebar_mainoswide_padding {
	padding-bottom:15px;
}
.sidebar_mainoswide object ,
.sidebar_mainoswide embed ,
.sidebar_mainoswide iframe ,
.sidebar_mainoswide a {
	
}


/*GALLERY NOSTO*/
.gallery_nosto_thumbs {

}
.gallery_nosto_thumbs ul {
padding:0;
margin:0 0 5px 0px;
display:table;
width:318px;
list-style:none;
overflow:hidden;
}
.gallery_nosto_thumbs ul a {
display:inline;
}
.gallery_nosto_thumbs li ,
.gallery_nosto_thumbs li a {
float:left;
display:block;
}
.gallery_nosto_thumbs li a {
margin:0 1px 0 0;
}
.gallery_nosto_thumbs li img {
border: 0px solid #0061aa;
} 

/*GALLERY NOSTO VIDEO THUMBS*/
.gallery_video_nosto_thumbs {
	display:table;
	padding:0;
	margin:0 0 5px 0;
	width:100%;
}
#sidebar .gallery_video_nosto_thumbs a {
	display:inline;
}
.gallery_video_nosto_thumbs img {
	float:right;
	/*width:140px;
	height:93px;*/
	margin:0 0 0 5px;
	border:1px solid #0061aa;
	z-index:1000;
}

/* Blogit */
#sidebar .blogit {
	padding:0 0 5px 0;
}
#blogilista {
	margin-top: 15px;
}
.blogipuffi {
	background:#d2dadf url(/grafiikka/blogit/blogi_bottom.gif) no-repeat left bottom;
	padding:0 0 15px 0;
	margin:0 0 7px 0;
}
.blogipuffi img {
	border:0;
}
.blogipuffi p {
	padding:5px 10px 5px 10px;
	font-size:11px;
}


/* MAINOS */

.sidebar_mainosbox300 {
	padding:0 0 5px 0;
	margin:0;
	float:left;
	width:100%;
	clear:both;
	
}

#big_huge_ad {
	padding:0 0 0 0;
	text-align:center;
	width:980px;
	font-size:0;
	line-height:0;
}





/*NOSTOSLIDER*/

#innerDiv
{
  width:2300px;
  height:80px;
  position: relative;
}

#outerDiv
{
  position: relative;
  overflow:hidden;
  width:460px;
  height:80px;
}

div#nright { 
  position:absolute;
  left:-15px;
  top:25px;
}

div#nleft {
  position:absolute;
  right:0px;
  top:25px;
}


div#nright.on  { background:url(/grafiikka/slider_left_on.gif) no-repeat; }
div#nright.off { background:url(/grafiikka/slider_left_off.gif) no-repeat; }

div#nleft.on  { background:url(/grafiikka/slider_right_on.gif) no-repeat; }
div#nleft.off { background:url(/grafiikka/slider_right_off.gif) no-repeat; }

div.nap { 
  width:15px;
  height:20px;
  cursor:pointer;
}


#pikkunostot_top {
	width:475px;
	display:block;
	padding:0 0 0 0;
	position:absolute;
	float:none;
	clear:both;
	line-height:121%;
	right:220px;
  top:0; 
}
#pikkunostot_top a {
	color:#B41E8E;
	text-decoration:none;
}
#pikkunostot_top a:hover {
	text-decoration:underline;
}
.pikkunostot_wrap_top {
	width:475px;
	display:table;
	color:#333;
	border:0 solid #BCD4EF;
	border-width:0px 0 0px 0px;
	border-top:0px dotted #ccc;
	border-bottom:0px dotted #ccc;
}

#pikkunostot_top .pikkunostot_block {
	float:left;
	width:225px;
	font-size:11px;
	overflow: hidden;
	height:80px;	
	padding:0 5px 0 0;
}

#pikkunostot_top .pikkunostot_block strong {
	
}
#pikkunostot_top img {
	float:left;
	margin:0px 5px 120px 0;
	border:0 solid #ccc;
	padding:5px;
	background:#e7e7e7;

}












/*NOSTOBOXIT - otsikkolistat*/
ul.nosto_otsikkolista a:hover {
	text-decoration:underline;
	color:#2685ce;
}
ul.nosto_otsikkolista {
	list-style:none;
	padding:10px 0 0 0;
	margin:0;
}
ul.nosto_otsikkolista a {
	text-decoration:none;
}
ul.nosto_otsikkolista a:hover {
	text-decoration:underline;
}
ul.nosto_otsikkolista em {
	font-style:normal;
	font-size:11px;
	font-weight:bold;
	margin:0 3px 0 0;
}
ul.nosto_otsikkolista li {
	margin:0 0 2px 0;
	line-height:150%;
}
ul.nosto_otsikkolista .source {
	margin:0 0 0 5px;
}
ul.nosto_otsikkolista .juttupvm {
 	display:inline;
       margin:0 0 0 0.1em;
       font-size:10px;
       color:#666;
}



/*NOSTOBOXIT - teemat*/

/*NORMAALI*/
.normaali .block {
	width:468px;
	overflow:hidden;
}
.normaali .block h1 a {
}
.normaali .juttukuvat_wide {
}

/*VÃ„RILLINEN*/
.varillinen .block {
	background:#B41E8E;
	border:1px solid #a71582;
	padding:6px;
	width:452px;
	overflow:hidden;
	color:#eee;
}
.varillinen .source a {
	color:#e59ed3;
}
.varillinen .juttuaika {
	color:#e59ed3;
}
.varillinen .juttuaika a {
	color:#eee;
}
.varillinen .juttuaika a:hover {
	color:#fff;
}
.varillinen .block h1 a {
	color:#fff;
}
.varillinen .juttukuvat_wide {
	width:452px;
	overflow:hidden;
}
.varillinen .juttukuvat_wide .kuva {
	border:0px solid #a71582;
}
.varillinen ul.nosto_otsikkolista a {
	color:#e59ed3;
}
.varillinen ul.nosto_otsikkolista a .juttupvm {
	color:#eee;
}

/*NEGA*/
.nega .block {
	background:#111;
	border:1px solid #000;
	padding:6px;
	width:452px;
	color:#eee;
	overflow:hidden;
}
.nega .block h1 a {
	color:#fff;
}
.nega .juttuaika {
	color:#aaa;
}
.nega .juttuaika a {
	color:#74BEF6;
}
.nega .juttuaika a:hover {
	color:#fff;
}
.nega .juttukuvat_wide {
	width:452px;
	overflow:hidden;
}
.nega .juttukuvat_wide .kuva {
	border:0px solid #000;
}
.nega ul.nosto_otsikkolista a {
	color:#74BEF6;
}


/*HARMAA*/
.harmaa .block {
	/*background:#f7f7f7;*/
	background:#f2f2f2;
	border:1px solid #f1f1f1;
	padding:6px;
	width:452px;
	overflow:hidden;
}
.harmaa .block h1 a {
}
.harmaa .juttukuvat_wide {
	width:452px;
	overflow:hidden;
}
.harmaa .juttukuvat_wide .kuva {
	border:0px solid #eee;
}

div.ghaku {
  margin-bottom:18px;
  margin-left: auto;
  margin-right: auto;
}
div.ghaku .searchword {
	width:230px;
}
div.ghaku input {
  vertical-align:-2px;
}














ul.randomnostot {
      font-weight:normal;
      list-style-image:none;
      list-style-position:outside;
      list-style-type:none;
      margin:0 0 15px;
      padding:3px 0 0;
}
ul.randomnostot li {
      line-height:130%;
}
ul.randomnostot a {
      text-decoration:none;
}
ul.randomnostot a:hover {
      text-decoration:underline;
}
	
	
.nosto_block h3 {
	/*background:#74bef6;
	padding:5px;*/
	border:none;
	color:#fff;
	text-transform:uppercase;
}
h3.suositut {
	background:#3381BB;
	padding:5px;
	border:none;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	margin-top:10px;
	line-height:140%;
	text-transform:uppercase;
}
img.thumbkuva_suositut {
	border:1px solid #0061AA;
	float:right;
	margin:0.1em 0 0 5px;
	position:relative;
	z-index:1000;
}

#gridnostot ,
#hrnostot ,
#linkbar {
	width:980px;
	clear:both;
	overflow:hidden;
}

.gridrow {
	width:984px;
	overflow:hidden;
}
#gridnostot .nosto_block {
	float:left;
	width:490px;
}

#gridnostot .source {
	padding:2px 5px;
	margin:0 0 10px 0;
	font-size:14px;
	line-height:130%;
	background:#de8703;
}
#gridnostot .source a {
	color:#fff;
}


#hrnostot {
	border-top:1px solid #C5D8EB;
	border-bottom:1px solid #a4bcd4;
	background:#c5d8eb url(/grafiikka/bg-hrnostot.gif) repeat-x top left;
}
.hrnostot-row {
	overflow:hidden;
	width:1000px;
}
.hrnosto-a ,
.hrnosto-b ,
.hrnosto-c {
	width:300px;
	float:left;
	padding:10px 20px 10px 10px;
}
#hrnostot .source {
	/*padding:5px;
	margin:0 0 0 0;
	font-size:18px;
	line-height:130%;
	background:#b7cce1;*/
}
#hrnostot .source a {
	color:#fff;
	display:block;
	height:35px;
	text-indent:-1000px;
	outline:none;
}
#hrnostot .hrnosto-a .source a {
	background:url(/grafiikka/nostologo-moro.gif) no-repeat;
}
#hrnostot .hrnosto-b .source a {
	background:url(/grafiikka/nostologo-sunnuntai.gif) no-repeat;
}
#hrnostot .hrnosto-c .source a {
	background:url(/grafiikka/nostologo-nakoislehti.gif) no-repeat;
}
#hrnostot ul.nosto_otsikkolista {
	list-style:none;
	padding:10px 0 0 0;
	margin:0;
}
#hrnostot ul.nosto_otsikkolista li {
	display:inline;
	line-height:150%;
}
#hrnostot ul.nosto_otsikkolista a {
	display:block;
	margin:0 0 4px;
	line-height:150%;
	position:relative;
}
#hrnostot ul.nosto_otsikkolista  span {
	margin:0 0 0 20px;
	display:block;
	position:relative;
}
#hrnostot ul.nosto_otsikkolista  a em {
	left:-20px;
	top:0px;
	position:absolute;
	display:block;
	padding:0;
	margin:0;
	width:15px;
	font-size:14px;
	line-height:120%;
	letter-spacing:-2px;
	/*background:#b7cce1;
	color:#fff;*/
	text-align:center;
}




#linkbar {
	background:#fff;
	border-top:0px solid #ccc;
}
#linkbar .linkbar_block {
	font-size:12px;
	width:980px;
	padding:0 0 10px 0;
	margin:0;
	overflow:hidden;
}
#linkbar .linkbar_block_padding {
	width:470px;
	padding:10px;
	margin:0;
	float:left;
}
#linkbar .linkbar_block h3 {
	padding:0;
	margin:0 0 10px 0;
	font-size:18px;
	color:#333;
}
#linkbar .linkbar_block h3 a {
	text-decoration:none;
}
#linkbar .linkbar_block h3 a:hover {
	text-decoration:underline;
}







/*******NOSTORULLA-PYSTY********/
.nostorulla-pysty {
	text-align:left;
	width:160px;
	padding:0 0 0 0;
	margin:8px auto;
	line-height:130%;
}

.nostorulla-otsikko {
	text-align:center;
	/*background:#111;*/
	background:#B41E8E;
	color:#fff;
	font-size:11px;
	line-height:14px;
	padding:5px 0 5px 0;
	text-transform:uppercase;
	margin:0;
}

.nostorulla-pysty a {
	text-decoration:none;
	display:block;
	color:#000;
}
.nostorulla-pysty a:hover {
	text-decoration:underline;
}

.nostorulla-pysty a img {
	border:none;
}

.nostorulla-pysty img {
	width:160px;
	height:80px;
}


.nostorulla-nosto {
	padding:0 0 6px 0;
	margin:0 0 5px 0;
	background:#f2f2f2;
}
.nostorulla-kuva {
	margin:0;
	display:block;
	height:80px;
	overflow:hidden;
}
.nostorulla-nosto-otsikko {
	font-size:11px;
	margin:0;
	padding:5px 5px 0 5px;
	display:block;
}
.nostorulla-teksti {
	display:block;
	padding:0 5px 0 5px;
	font-size:11px;
}
a .nostorulla-teksti {
	color:#444;
}



/*MIELIPIDE*/
.mielipide {
		
}
.sahkeet .mielipide h3 {
	background:#111;
	color:#fff;
	font-size:12px;
	line-height:14px;
	padding:5px 0;
	margin:0 0 5px 0;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	letter-spacing:0px;
}
.mielipide .paakirjoitus ,
.mielipide .paivannopea {
	padding:0 0 5px 0;
}
.mielipide .block a {
	display:inline;
}
.mielipide .normaali .block ,
.mielipide .varillinen .block ,
.mielipide .harmaa .block ,
.mielipide .nega .block {
	width:auto;
	background:none;
	border:none;
	color:inherit;
}
.mielipide .nosto_block_padding {
	padding:0;
}

.mielipide .paakirjoitus .block {
	background:#f2f2f2;
	padding:10px;
	width:280px;
}
.mielipide .paakirjoitus .nosto_block_padding {
	border:none;
}
.mielipide .paakirjoitus .source {
	margin:0;
	padding:0 0 2px 0;
	background:none;
}
.mielipide .paakirjoitus .source a {
	color:#B41E8E;
}

.mielipide .paivannopea .block {
	width:280px;
	background:#f2f2f2;
	font-size:12px;
	border:none;
	padding:10px;
}
.mielipide .paivannopea .source {
	padding:0 0 2px 0;
	margin:0;
	background:none;
}
.mielipide .paivannopea .source a {
	color:#B41E8E;
}
.mielipide .block h1 {
	font-size:18px;
}
.mielipide .paivannopea h4 {
	font-size:18px;
}



/*ROADBLOCK - MAINOSPAIKAT*/
#top_ad_left {
	position:absolute;
	top:5px;
	right:980px;
}
#top_ad_right {
	position:absolute;
	top:5px;
	left:980px;
}

#telkkucom {
	clear:both;
	background:#fff;
	padding:5px 5px 0 5px;
	width:970px;
}




/*BUTTON-LÄHETÄUUTISKUVA*/
.button-lahetauutiskuva {
position:absolute;
right:10px;
top:7px;
background:#ccc;
}
.button-lahetauutiskuva a {
padding:0;
margin:0;
display:block;
}
.button-lahetauutiskuva a img {
border:none;
}




/* VANCOUVER */
body#vancouver {
 background:#b1dff6 url("http://www.aamulehti.fi/grafiikka/bg-page.gif") repeat scroll 0 -10px;
}


body#vancouver .themetitle_padding {
 background:url("http://www.aamulehti.fi/grafiikka/theme-vancouver.gif") no-repeat;
 height:130px;
 width:810px;
 padding:0;
 margin:0 0 20px 0;
/* text-indent:-9999px; */
}

body#vancouver .vancouver_twitter {
 margin: 0px 0 20px 19px;
}

body#vancouver #super {
 width: 810px;
}
body#vancouver .super_padding {
 width: 800px;
}
body#vancouver .super_column {
 width: 800px;
}
body#vancouver .super_content {
 width: 800px;
 border-bottom: 1px solid #eee;
 padding: 0 0 10px 0;
}

body#vancouver #themetitle h1 {
 display: block;
 height:130px;
 width:810px;

}

body#vancouver #themetitle h1 a {
 display: block;
 height:130px;
 width:810px;
 text-indent: -9999px;
}

img.alma_footer {
border: 0 none;
padding: 17px 0 0 12px;
vertical-align: text-top;
}

#almafooteri  {
border-bottom:0px solid #666666;
border-top:1px solid #666666;
width:980px;
overflow: hidden;
}
#almafooter_logo {
background:none repeat scroll 0 0 #FFFFFF;
float:left;
width:91px;
}
#almafooter_list {
background:none repeat scroll 0 0 #FFFFFF;
float:left;
padding:5px 0;
width:889px;
}
.almafooter_listbox {
background:none repeat scroll 0 0 #FFFFFF;
color:#666666;
display:block;

padding:5px 0;
width:889px;
}
.almafooter_listbox b {
color:#000000;
}
.almafooter_listbox a {
color:#666666;
text-decoration:none;
}
.almafooter_listbox a:hover {
color:#000000;
text-decoration:underline;
}

#td_footer_alma {
  padding: 0;
}

#silmakulma {
position:absolute;
right:0px;
top:-5px;
width:200px;
height:80px;
z-index:100;
} 

.ruokaohjehaku {
margin: 0 0 20px 0;
}

.top10kommentit {
  padding: 0 0 10px 0;
}
.top10kommentit .juttulista {
	list-style:none;
	font-weight:normal;
	margin:0;
}
.top10kommentit .juttulista li {
	display:inline;
}
.top10kommentit .juttulista a {
	margin:0 0 3px 0;
	display:block;
	height:1.5em;
	overflow:hidden;	
}
.top10kommentit .comment_count {
  padding: 0 8px 0 0;
}
.top10kommentit .juttulista a:hover {
  	text-decoration:underline;
}
.top10kommentit .etusivuosastootsikko {
	line-height:140%;
	letter-spacing:0px;
	font-weight:bold;
	/*color:#0061aa;*/
	font-size:11px;
	color:#B41E8E;
	/*display:block;*/
	text-transform:uppercase;
}