body { 
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: black;
	background-color: #e7e7e7;

}
/*	overflow-y: scroll; */

table{ border-collapse: collapse; }
tr, td{ margin: 0px; padding: 0px;}
form { margin: 0px; padding: 0px; }
select { border: #606060; border-style: solid; border-width: thin; }

a:link, a:active, a:visited { text-decoration: none; color: #525252; text-decoration: underline; margin-bottom: 1px;}
a:hover { text-decoration: none; color: orange; }

div.box-margin a:link, div.box-margin a:active, div.box-margin a:visited { border-bottom: 1px dotted black; text-decoration:none; color: black; margin-bottom: 1px;}
div.box-margin a:hover { border-bottom: 1px solid #ff7e00; text-decoration:none; color: black; }

/* chat messages box with overflow */
div.sparkChat {  margin: 3px 0px; padding: 3px 0px; display: none; }
div.chatMessages { height: 140px;  overflow: hidden; position: relative; }
div.chatMessagesInner { position: relative;  }


/* Sisältöalueiden määritykset ja asemointi */
div.content-top, div.content-wide, div.content-narrow, div.content-bigbox {border: 0px dotted red;}
div.content-top { display: block; position: absolute; left: 50%; top: 0px; margin-left: -470px; width: 940px; overflow: hidden; } 
div.container { display: block; position: absolute; left: 50%; top: 100px; margin-left: -390px; width: 780px; overflow: hidden; }
div.container-columns { display: block; position: absolute; left: 50%; top: 100px; margin-left: -470px; width: 720px; overflow: hidden; }
div.content-wide { display: block; float: left;/*position: absolute; left: 50%; top: 100px; margin-left: -385px;*/ width: 520px; overflow: hidden;}
div.content-bigbox { display: block; float: left;/*position: absolute; left: 50%; top: 100px; margin-left: -385px;*/ width: 780px; overflow: hidden;}
div.content-narrow { display: block; float: left; margin-left: 20px; width: 240px; overflow: hidden; }
div.content-smallbox { display: block; position: absolute; left: 50%; top: 100px; margin-left: 231px; width: 280px; overflow: hidden; }
div.content-footer { display: block; clear: left; width: 780px; height: 30px; overflow: hidden; }

/* div.content-wide { display: block; position: absolute; left: 50%; top: 100px; margin-left: -130px; width: 520px; overflow: hidden;} */
/* div.content-narrow { display: block; position: absolute; left: 50%; top: 100px; margin-left: -380px; width: 240px; overflow: hidden; }*/


/* Yleinen errorbox */
.alert {
	background: #fff6bf url(../images/exclamation.png) center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
	}
.info { background: #f8fafc url('../images/information.png') 15px 50% no-repeat; padding: 5px 20px 5px 45px; border-top: 2px solid #b5d4fe; border-bottom: 2px solid #b5d4fe; }


/* Ylä vaakapalkin tyyli */
div.top-bar { width: 940px; height: 75px; background: url('../images/top-bar-bg.png') bottom center no-repeat;}

/* Hide element */
.hidden { display: none; }

/* Infosivun tyylit */
.infopage-topic { font-family: Arial; color:#000000; font-size: 24px; font-weight:bold; display:inline-block;}
.infopage-topic a:link{ font-family: Helvetica; color:#feb130; font-size: 16px; font-weight:bold; display:inline-block;}
.infopage-topic a:visited{ font-family: Helvetica; color:#feb130; font-size: 16px; font-weight:bold; display:inline-block;}
.infopage-topic-big { font-family: Tahoma; color:#626262; font-size: 30px; font-weight:bold;}
.infopage-topic-med { font-family: Arial; color:#000000; font-size: 20px; font-weight:bold;}
.infopage-text { font-family: Arial; color:#000000; font-size: 18px;}
.infopage-text strong{ font-family: Tahoma; color:#696969; font-size: 19px;}
.infopage-image {position: relative; float:left;}

/* Vaaka line */
div.line, div.line2 {height: 1px; background-color: #bcbcbc; /*border-bottom: 1px solid #d7d7d7;*/ margin: 4px 0px 8px 0px;}
div.line2 { border-bottom: 0px;}
/* spaceri */
div.spacer {height: 5px; margin: 0px; display: block; clear: left;}


/* Erilevyisten boksien leveydet */
.box1 { width: 240px; }
.box2 { width: 520px; }
.box3 { width: 260px; }
.boxbig { width: 758px; }
.boxcolumns { width: 700px; }
.feedbox { width: 468px; }

/* boksien yhteiset tyylit */
.box-topl { width: 25px; background: url('../images/box1.png') top left no-repeat; }
.box-topr { overflow: hidden; min-height: 13px; background: url('../images/box1.png') top right no-repeat; padding: 20px 25px 0px 0px; }
.box-contl { width: 25px; background: url('../images/box1-bg.png') left repeat-y; }
.box-contr { overflow: hidden; background: url('../images/box1-bg.png') right repeat-y; padding: 0px 25px 0px 0px; }
.box-contr img { max-width: 470px; }

.box-bottoml { width: 25px; min-height: 36px; background: url('../images/box1.png') bottom left; }
.box-bottomr { overflow: hidden; min-height: 16px; background: url('../images/box1.png') bottom right; padding: 0px 25px 20px 0px; }

/* About Boksin otsikon tyylit */
.about-box-header { font-family:Helvetica; font-weight: bold; font-size:16px;}

/* Footer styles */
.footer { text-align:center; font-family:Helvetica; font-weight: bold; font-size:10px; color:#000000;}
.footer-link a{font-family:Helvetica; font-weight: bold; font-size:10px; color:#000000;}

/* Boksin otsikon tyylit */
.box-header { font-weight: bold;  }
.box-header-img { float: left; margin: 0px 5px 0px 0px; border: 0px}

pikku boksin imagejen tyylit, friend ja communities 
div.small-images { float: left; padding-left: 3px;}
div.small-images a { border: 0px; margin-left: 0px;}
img.user, img.user_online  {
	margin: 4px 2px 4px 2px;
    color: #fff;
    padding: 4px; 
    text-align: left;
    background-color: #dcdcdc;
    border:0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);*/
    }
img.user_online { background-color: #adff17; }
a.user_online:link,a.user_online:active,a.user_online:visited{color:#33cc66; text-decoration:none; font-weight:bold;}
a:hover img.user_online, a:hover img.user { background-color: #ff7e00;}
a.user_online:hover{color:#ff7e00;}
a.user_offline:link,a.user_online:active,a.user_online:visited{color:#8080; text-decoration:none;}

/* Community listaukset*/
#community-list-container{
	/*display: inline;*/
	width:100%;
}
#community-list-big{
	float:left;
	width:100px;
	height:140px;
	margin: 0px 20px 20px 0px;
	text-align:center;
}
#community-list-withsparks{
	margin:10px 0 0 0;
	width:45%;
	float:left;
	height:330px;
	margin:5px;
	padding:5px;
	background-color: #f7f7f7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);/*/	
}
#community-list-spark{
 	margin:0 0 5px 0;
 	height:60px;
}
#community-list-title{
	margin:0 0 30px 0;
	height:100px;
}
a.community-list-text{font-weight:bold; text-decoration:none;}

.community-header-img { float: left; margin: 0px 5px 0px 0px; border: 0px; padding:3px; background-color:#efefef;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);*/
}



/* Oobsparkin status */
.oobsparkread{font-weight:bold;}
.oobsparkunread{font-style:italic;}

/* sisällön marginaali */
div.box-margin { margin: 0px 7px 0px 7px;}
.box3-sparkContent { width: 210px; overflow: hidden; min-height: 40px; height:auto !important;
}
.box3-sparkContent img { max-width: 210px; max-height: 150px; height:auto !important;
}


/* Tekstin muotoilut */
.light-grey { color: #959191}
.dark-grey { color: #6f6e6e; font-weight: normal;}
.online { color: #33cc66; }
.minifont{font-size:9px;}
.error { color: red; font-size: 14px; margin-bottom: 5px; }
.orange, a.orange { color: #ff7e00; font-weight: bold; text-decoration: none;}
.red, a.red { color: red; }
.green, a.green { color: green; }
div.grey-bold-center { color: #4d4e4d; font-weight: bold; text-align: center; margin: 0px 0px 10px 0px; padding: 0px; }
div.grey-bold-center a {text-decoration: none;}
.bold, .online, h3 { font-weight: bold; font-size: 12px; margin: 0px; }
.big { font-size: 14px; font-weight: bold; }
.xbig { font-size: 18px; font-weight: bold; }
.dimgrey { font-family: Tahoma; font-size: 12px; color: #808080 }
.oobsparksender {color:#e5a60f}
.spark-to {padding-left: 5px; font-weight: normal; font-size: 10px; color: #959191;}
.debug {background-color:#ffff00;}

.rounded-friend-online{
    margin: 0px auto;
    color: #fff;
    padding: 5px 5px 13px 5px;
    text-align: left;
    background-color: #adff17;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);*/
}
.rounded-friend{
    margin: 0px auto;
    color: #fff;
    padding: 5px 5px 13px 5px;
    text-align: left;
    background-color: #dcdcdc;
    border: 1px solid #c2c2c2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);*/
}
.rounded-friend-img{
	float:left;
	width:30px;
    margin: 0px auto;
    color: #fff;
    padding: 2px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*behavior:url(http://127.0.0.1:8080/wf/static/css/border-radius.htc);*/
}

a.large-link { font-family: Arial; font-size: 20px; color: #c9c9c9; text-decoration: none;}
a.large-link:hover, a.large-link-a { font-family: Arial; font-size: 20px; color: #ff7e00; text-decoration: none;}
a.large-link:hover, a.large-link-a:hover { text-decoration: underline;}

a.admin-link { background: url('../images/red-dot.png') 0% 60% no-repeat; color: red; text-decoration: none; padding-left: 10px; }
a.admin-link:hover { text-decoration: underline; }

a.paging{ display: block; float: left; padding: 1px; margin: 0px 1px; text-decoration: none;}
a.paging:hover { background-color: #cdcdcd; }
a.paging_a {display: block; float: left;  padding: 1px; margin: 0px 1px; background-color: #ff7e00; color: #ffffff;text-decoration: none; }

a.bold-grey {font-weight: bold; color: #6f6e6e; border: 0px;}
a.bold-grey:hover {font-weight: bold; color: #ff7e00; text-decoration: underline;}

a.public-sparkLink { color: #000000; font-size: 13px;}
a.public-userLink { color: #000000; font-size: 13px; border: 0px;}

.input-title { margin: 3px 0px 0px 0px; font-size: 12px; }

/* Spark containerit */
.spark-default { position: relative; z-index: 10; }
.spark-float { position: relative; z-index: 2100; border: 1px solid green; }

/* Spark action linkit */
a.sparkactionlinks {text-decoration: none;}
a.sparkactionlinks:hover {text-decoration: underline;}
a.sparkactionlinks-unfreeze { font-weight: bold; color: #c30000;}

/* Spark menu tyylit */
div.spark-menu { text-align: center; font-size: 16px; color: #4c4c4f; margin: 20px 0px 10px 0px; } 
.spark-menu a { text-decoration: none; }
a.spark-menu:hover, a.spark-menu-active:hover{ text-decoration: none; color: #ff7e00; text-decoration: none;} /* isojen linkkien hoverit */
a.spark-menu-active{ font-weight: bold; text-decoration: none;} /* aktiivinen iso linkki */
div.spark-menu-paging { font-size: 14px; text-align: center; margin: 5px 0px 10px 0px; overflow: hidden;}

/*a.spark-menu-paging a:hover, a.spark-menu-paging-active:hover {text-decoration: underline; color: #ff7e00;}
a.spark-menu-paging-active { text-decoration: underline; }*/

/* ignite tyyli*/
.spark-ignite {font-weight: bold; font-size: 12px; padding-right: 0px; font-family: arial; color: #787878; text-align:left;}

/* tablejen tyylit */
.table1 { width: 100%; }
.table1 td{ padding: 0px 0px 4px 0px; }

/* Alignit */
.center { text-align: center; }
.left { display: inline; float: left;}
.right { display: inline; float: right;}
.v-middle { display: block; vertical-align: middle; }

/* form stylet */
.optionTitle { color: #787878; background: #f3f3f3; }

/* Napin muotoilu */
div.btn { min-width: 130px; height: 21px; overflow: hidden; margin: 3px 0px 3px 0px; }
div.btn_l { float: left; overflow: hidden; height: 21px; width: 10px; background: url('../images/btn.png') top left; }
div.btn_c, div.btn_c_h{ float: left; overflow: hidden; height: 21px; width: auto; min-width: 100px; background: url('../images/btn.png') top center no-repeat; text-align: center; padding: 3px 0px 0px 0px;}
div.btn_c_h { background: url('../images/btn-a.png') top center no-repeat; }
div.btn_r { float: left; overflow: hidden; height: 21px; width: 10px;  background: url('../images/btn.png') top right;}
/* Napin muotoilu 2 */
div.btn2 { min-width: 130px; height: 21px; overflow: hidden; margin: 3px 0px 3px 0px; }
div.btn2_l { float: left; height: 21px; width: 10px; background: url('../images/btn2.png') top left; }
div.btn2_c, div.btn2_c_h{ float: left; height: 21px; width: auto; min-width: 100px; background: url('../images/btn2.png') top center no-repeat; text-align: center; padding: 3px 0px 0px 0px;}
div.btn2_c_h { background: url('../images/btn2-a.png') top center no-repeat; }
div.btn2_r { float: left; height: 21px; width: 10px;  background: url('../images/btn2.png') top right;}
/* Pienen Napin muotoilu mahdoton keskittää, luovuta ajoissa... */
div.btn3 { min-width: 50px; height: 21px; overflow: hidden; margin: 3px 0px 3px 0px auto; text-align:center;}
div.btn3_l { float: left; overflow: hidden; height: 21px; width: 10px; background: url('../images/btn.png') top left; }
div.btn3_c, div.btn3_c_h{ float: left; overflow: hidden; height: 21px; width: auto; min-width: 10px; background: url('../images/btn.png') top center no-repeat; text-align: center; padding: 3px 0px 0px 0px;}
div.btn3_c_h { background: url('../images/btn-a.png') top center no-repeat; }
div.btn3_r { float: left; overflow: hidden; height: 21px; width: 10px;  background: url('../images/btn.png') top right;}
a.btn3, a.btn3:hover { display: block; text-decoration: none; color: #424242; min-width: 10px; font-face: arial; font-size: 11px; border: 0px;}
a.btn3:hover { color: #000000; text-decoration: underline;}


/* Napin teksti */
a.btn, a.btn:hover { display: block; text-decoration: none; color: #424242; min-width: 110px; font-face: arial; font-size: 11px; border: 0px;}
a.btn:hover { color: #000000; text-decoration: underline;}
/* nappi tablessa, td:n leveys */
td.btn{ width: 130px; }

/* kytkin nappi */
.btnSwitch_l, .btnSwitch_l-active { height: 21px; background: url('../images/btn.png') top left no-repeat; font-size: 11px;}
.btnSwitch_r, .btnSwitch_r-active { height: 21px; background: url('../images/btn.png') top right no-repeat; font-size: 11px;}
.btnSwitch_m, .btnSwitch_m-active { height: 21px; background: url('../images/btn.png') top center no-repeat; font-size: 11px;}
.btnSwitch_l-active { background: url('../images/btn-dark.png') top left; }
.btnSwitch_r-active { background: url('../images/btn-dark.png') top right; }
.btnSwitch_m-active { background: url('../images/btn-dark.png') top center; }
.btnSwitch_l a, .btnSwitch_l-active a{ display: block; margin: 3px 15px 0px 20px }
.btnSwitch_r a, .btnSwitch_r-active a{ display: block; margin: 3px 20px 0px 15px }
.btnSwitch_m a, .btnSwitch_m-active a{ display: block; margin: 3px 5px 0px 5px }


/* Otsikko palkki 1 */
div.header1 { overflow: hidden; width: 100%; height: 23px; margin: 3px 0px 6px 0px; }
div.header1_l { overflow: hidden; float: left; height: 23px; background: url('../images/header1.png') top left no-repeat; padding: 4px 0px 3px 7px;}
div.header1_r { overflow: hidden; height: 23px; background: url('../images/header1.png') top right no-repeat; padding: 4px 7px 3px 5px; text-align: right;}

/* Otsikko palkki 2 */
div.header2 { overflow: hidden; width: 100%; height: 23px; margin: 3px 0px 6px 0px; }
div.header2_l { overflow: hidden; float: left; height: 23px; background: url('../images/header2.png') top left no-repeat; padding: 4px 0px 3px 7px;}
div.header2_r { overflow: hidden; height: 23px; background: url('../images/header2.png') top right no-repeat; padding: 4px 7px 3px 5px; text-align: right;}

/* Otsikko palkki fontti */
.header { font-family: tahoma; font-size: 11px; font-weight: bold; color: #000000; }

/* User info boksit, myFriends etc */
div.user-info-wide { height: 28px; width: 100%; margin: 0px 0px 6px 0px; overflow: hidden; }
div.user-info-narrow { width:98%; overflow: hidden; margin: 10px 10px 0px 0px; }

table.table-narrow { height: 28px; width: 114px; }
table.table-wide { height: 28px; width: 100%;}

.user-info-left { height: 28px; width: 20px; padding: 0px 5px; background: url('../images/user-box-bg.png') left top no-repeat;}
.user-info-center { height: 28px;  background: url('../images/user-box-bg.png') center top no-repeat; }

.user-info-left a { float: left; white-space: nowrap; float:left; display: inline; margin: 3px 0px 0px 0px; } 
.user-info-left a:hover { text-decoration: underline; }
.user-info-right { height: 28px; padding-right: 5px; width: 5px; background: url('../images/user-box-bg.png') right top no-repeat; text-align: right; white-space: nowrap;}


/* info kupla */
div.bubble { z-index:9999; visibility: hidden; position: absolute; left: -500px; min-width: 100px; overflow: hidden; padding: 2px;}
.bubble-top { background: #f9f8f8; padding: 4px; border: 1px solid #676767; border-bottom: 0px; margin: 1px;}
.bubble-bottom { height: 10px; background: url('../images/buble-bottom.png') top left; margin: 0px; padding: 0px; } 

/* input kentät */
.narrow, .wide, .base, .chatarea, .relative{ background: #f9f8f8; border: 1px solid #aeaeb1; padding: 1px 3px; margin: 3px 0px 6px 0px;}
.wide { width: 462px; }
.relative { width: 95%; }
.narrow { width: 182px; }
.button { padding: 0px; margin: 0px; }
.chatarea {font-size: 11px; font-family: Tahoma, Arial;}

/* kolumnit 
#two-columns{width:48%; min-height:400px; float: left; overflow: hidden; margin: 10px 10px 0px 0px; }*/

/* Imeem search styles */
table.imeemResultTable { width: 100%; }
table.imeemResultTable tr { margin: 0px 0px 3px 0px; }
td.imeem-td2 { text-align: right; }
td.imeem-td2 a { margin-left: 10px;}

/* Chat viestien otsikot */
div.chat { overflow: hidden; width: 100%; height: 16px; margin: 3px 0px 0px 0px; }
div.chat-nick, div.chat-nick-online, div.chat-nickNew, div.chat-nickNew-online { 
	overflow: hidden;
	float: left;
	height: 16px;
	background: url('../images/chatMessage.png') top left no-repeat;
	padding: 1px 5px;
	font-weight: bold;
	font-size: 11px;
	color: #575757;
	cursor: help;
}
div.chat-time, div.chat-timeNew { 
	overflow: hidden;
	height: 16px;
	background: url('../images/chatMessage.png') top right no-repeat;
	padding: 1px 5px;
	text-align: right;
	font-size: 11px;
	color: #575757;
}
div.chat-middle { 
	overflow: hidden;
	float: left;
	height: 16px;
	background: url('../images/chatMessage.png');
	padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	color: #575757;
	background-position: center;
	vertical-align:top;
}
div.chat-message, div.chat-messageNew { padding: 2px 5px; font-size: 11px; color: #575757; }
div.chat-nickNew, div.chat-nickNew-online {  background: url('../images/chatMessage-new.png') top left no-repeat; color: #000000; }
div.chat-timeNew {  background: url('../images/chatMessage-new.png') top right no-repeat; color: #000000; }
div.chat-messageNew { color: #000000; }
div.chat-middleNew  {
	overflow: hidden;
	float: left;
	height: 16px;
	background: url('../images/chatMessage-new.png'); padding: 0px 5px;
	font-weight: bold;
	font-size: 11px;
	color: #575757;
	background-position: center;
}
div.chat-nickNew a, div.chat-nick a{text-decoration:none;}
div.chat-nickNew-online a{color:#0f6e35;text-decoration:none;}
div.chat-nick-online a{color:#076a00;text-decoration:none;}



/* User info ruudun tyylit */
div.user-customInfo img { max-width: 250px; max-height: 130px; height:auto !important;}

/* uutta ilmaiseva boksi (oranssi laatikko) */
.new-tl, .new-tr, .new-bl, .new-br { width: 3px; height: 3px; }
.new-bl { background: url('../images/new-bg.png') 0 100% no-repeat;}
.new-br { background: url('../images/new-bg.png') 100% 100% no-repeat; }
.new-tl { background: url('../images/new-bg.png') 0 0 no-repeat;}
.new-tr { background: url('../images/new-bg.png') 100% 0 no-repeat;}
.new-bg { background-color: #f5a22a; }


/* Kelluvat poksit jotka tulevat ruudun päälle */
div.tl_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-top-left.png') no-repeat;
	width: 522px; height: 318px; z-index: 2000;
	padding: 30px 30px 40px 30px !important;
}
div.tr_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-top-right.png') no-repeat;
	width: 522px; height: 318px; z-index: 2000;
	padding: 30px 30px 40px 30px !important;
}
div.bl_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-bottom-left.png') no-repeat;
	width: 522px; height: 318px; z-index: 2000;
	padding: 52px 30px 40px 30px !important;
}
div.br_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-bottom-right.png') no-repeat;
	width: 522px; height: 250px; z-index: 2000;
	padding: 52px 30px 40px 30px !important;
}

div.tl_small_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-small-top-left.png') no-repeat;
	width: 400px; height: 318px; z-index: 2000;
	padding: 30px 30px 40px 30px !important;
}
div.tr_small_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-small-top-right.png') no-repeat;
	width: 400px; height: 318px; z-index: 2000;
	padding: 30px 30px 40px 30px !important;
}
div.bl_small_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-small-bottom-left.png') no-repeat;
	width: 400px; height: 318px; z-index: 2000;
	padding: 52px 30px 40px 30px !important;
}
div.br_small_floater {
	display: none;
	position: absolute;
	background: url('../images/bubble-small-bottom-right.png') no-repeat;
	width: 400px; height: 250px; z-index: 2000;
	padding: 52px 30px 40px 30px !important;
}

/* Imagecorners TBA*/





/* Dimmer, Harmaa tausta */
div.dimmer { display: none; position: absolute; top: 0px; left: 0px; z-index: 999; width: 100%; background: url('../images/dimmer.png'); overflow: hidden;}

