<div style="margin-top:16px;margin-left:30px;width:100%;background-color:#000; height:500px;">
<div id="leftPan" class="indexpage_public_devices">
<h2><%=t :navigation_public_title %></h2>
<ul>
<li class="fill-up"></li>
 <% @devices_pub.each do |device| %>
  <li><%= link_to device.name, { :action => 'show', :id => device.id}, :class => 'middle' %></li>
 <% end %>
<li class="fill-down"></li>
</ul>
</div>
<div class="about">
 <h2><%=t :index_title %></h2> 
 <div>
  <%= t :index_first_para %>
 </div>

 <div id="index-server">
  <h2>Server</h2> 
  System categorizes trackable devices to three classes. Devices to follow can be <ol><li>public,</li><li>shared or</li><li>private.</li></ol>
  
    <p><b>Public devices</b> can be seen by anyone who enters this page. Public items are listed on the left. </p>
    <p><b>Shared devices</b> are private devices that are shared among users. Owner of the device grants privileges to other users to see this device. Privileges can also be revoked whenever needed.</p>  
    <p><b>Private devices</b> are visible only to owner (which has to be registered/logged in).</p>
  
 </div>

 <div id="index-mobile">
   <h2>Mobile</h2>
  Mobile unit can be attached for example to cat's or dog's collar. Other possible item that might be tracked items 
are: bicycle, motorcycle, boat, wife (unit attached to suitable places), husband, son and daughter. Actually the mobile unit can 
be attached to almost anything. Use your imagination!
 </div>

</div>
<script type="text/javascript"> 

//   $("#footerMain").hide();
//   $("#footer").hide();
//   $("#sliderWrap2").hide();
</script>
