<div id="leftPan" class="indexpage_public_devices">
<h2>Public devices</h2>
<ul>
<li class="fill-up"></li>
<% @devices_pub.each do |device| %>
    <li><%= link_to device.name, device %></li>
<% end %>
<li class="fill-down"></li>
</ul>
</div>
<div class="about">
<h2>About CATSS</h2>
<p>CATSS is a mobile item surveillance system. It consists of two services:<ol><li> server (this) and </li><li>mobile unit.</li></ol></p>
<p>Mobile unit can be attached for example to cat's or dog's collar. Other possible item that might be tracked items 
are: bicycle, motorcycle, boat, wife (unit attached to suitable places), husband, son and daughter. Actually the mobile unit can 
be attached to almost anything. Use your imagination!</p>
<p>System categorizes trackable items to two classes. Items to follow can be <ol><li>public or</li><li>private.</li></ol>
</p>
<p>
<b>Public items</b> can be seen by anyone, even those who have not logged in to system. Public items are listed on the left. 
<b>Private items</b> are visible only to owner (which has to be registered/logged in).</p>
</div>
<script type="text/javascript"> 
   $("#sliderWrap2").hide();
   $("#sliderWrap").hide();
</script>
